@model Product

@{
    ViewBag.Title = "商品录入";
}

<h2>商品录入</h2>

@using (Html.BeginForm("Confirm", "Product", FormMethod.Get))
{

    <div>@ViewData["ConnectionString"]</div>
    <div>DPAEncrypt:@ViewData["DPAEncrypt"]</div>
    <div>DPADecrypt:@ViewData["DPADecrypt"]</div>
    <div>AESEncrypt:@ViewData["AESEncrypt"]</div>
    <div>AESDecrypt:@ViewData["AESDecrypt"]</div>
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div>
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price)
        @Html.ValidationMessageFor(m => m.Price)
    </div>

    <input type="submit" value="提交" />
}